{% extends '@basic/layout.twig' %}

{% block content %}
    {#welcome message supports html markups#}
    {{ welcomeMessage|raw }}

    <p><strong>API Key</strong> and <strong>site name in WCMS</strong> are required. To learn how to locate your API, see the <a target="_blank" href="https://www.hannonhill.com/cascadecms/latest/cascade-basics/account-settings.html"> Hannon Hill documentation</a>.</p>
    <p><strong>You must be a site manager to use this tool.</strong></p>
    <form action="index.php" id="ctr_form" method="post">
        <div class="rvt-row">
            <div class=" rvt-cols-12-md rvt-m-top-md">
                <label class="rvt-label" for="site_name">Site name in WCMS (i.e. IU-SITE-WEBS.main) *</label>
                <input class="rvt-input" id="site_name" name="site_name" type="text" oninput="dismissAlert(event)">
                <div class="rvt-inline-alert rvt-inline-alert--standalone rvt-inline-alert--danger" style="display: none">
              <span class="rvt-inline-alert__icon">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <g fill="currentColor">
                    <path d="M8,0a8,8,0,1,0,8,8A8,8,0,0,0,8,0ZM8,14a6,6,0,1,1,6-6A6,6,0,0,1,8,14Z" />
                    <path d="M10.83,5.17a1,1,0,0,0-1.41,0L8,6.59,6.59,5.17A1,1,0,0,0,5.17,6.59L6.59,8,5.17,9.41a1,1,0,1,0,1.41,1.41L8,9.41l1.41,1.41a1,1,0,0,0,1.41-1.41L9.41,8l1.41-1.41A1,1,0,0,0,10.83,5.17Z" />
                  </g>
                </svg>
              </span>
                    <span class="rvt-inline-alert__message" id="site-name-name-message">Site name is required.</span>
                </div>
            </div>

        </div>
        <div class="rvt-row">
            <div class="rvt-cols-12-md rvt-m-top-md">
                <label class="rvt-label" for="api_key">API Key *</label>
                <input class="rvt-input" id="api_key" name="api_key" type="password" oninput="dismissAlert(event)" autocomplete="off">
                <div class="rvt-inline-alert rvt-inline-alert--standalone rvt-inline-alert--danger" style="display: none">
              <span class="rvt-inline-alert__icon">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <g fill="currentColor">
                    <path d="M8,0a8,8,0,1,0,8,8A8,8,0,0,0,8,0ZM8,14a6,6,0,1,1,6-6A6,6,0,0,1,8,14Z" />
                    <path d="M10.83,5.17a1,1,0,0,0-1.41,0L8,6.59,6.59,5.17A1,1,0,0,0,5.17,6.59L6.59,8,5.17,9.41a1,1,0,1,0,1.41,1.41L8,9.41l1.41,1.41a1,1,0,0,0,1.41-1.41L9.41,8l1.41-1.41A1,1,0,0,0,10.83,5.17Z" />
                  </g>
                </svg>
              </span>
                    <span class="rvt-inline-alert__message" id="api-key-name-message">API key is required.</span>
                </div>
            </div>
        </div>

        <div class="rvt-row">
            <div class="rvt-cols-12-md rvt-m-top-md">
                <label class="rvt-label" for="update_to_apply">Please select what you would like to do *</label>
                <select class="rvt-select" id="update_to_apply" name="update_to_apply" onchange="dismissAlert(event)">
                    <option value="" selected>-</option>
                    {% block selectOptions %}
                    {% endblock %}
                </select>

                <div class="rvt-inline-alert rvt-inline-alert--standalone rvt-inline-alert--danger" style="display: none">
              <span class="rvt-inline-alert__icon">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <g fill="currentColor">
                    <path d="M8,0a8,8,0,1,0,8,8A8,8,0,0,0,8,0ZM8,14a6,6,0,1,1,6-6A6,6,0,0,1,8,14Z" />
                    <path d="M10.83,5.17a1,1,0,0,0-1.41,0L8,6.59,6.59,5.17A1,1,0,0,0,5.17,6.59L6.59,8,5.17,9.41a1,1,0,1,0,1.41,1.41L8,9.41l1.41,1.41a1,1,0,0,0,1.41-1.41L9.41,8l1.41-1.41A1,1,0,0,0,10.83,5.17Z" />
                  </g>
                </svg>
              </span>
                    <span class="rvt-inline-alert__message" id="site-name-name-message">An update must be selected.</span>
                </div>
            </div>
        </div>
        <input type="hidden" name="next_step" value="showSummary"/>

        <div class="rvt-m-top-lg">
            <button onclick="SubmitAndDisable(event)" type="submit" form="ctr_form" value="Submit" class="rvt-button rvt-button--link rvt-button--full-width">Next</button>
        </div>
    </form>
{% endblock %}