{% macro makeAssetUrl(id, type) %}
    <a target="_blank" href="https://sites.wcms.iu.edu/entity/open.act?id={{ id }}&type={{ type }}">
        https://sites.wcms.iu.edu/entity/open.act?id={{ id }}&type={{ type }}
    </a>
{% endmacro %}
