<script>
    function SubmitAndDisable(e) {
        e.preventDefault();
        const currentButton = e.target;
        const form = document.getElementById("ctr_form");
        const buttons = document.getElementsByTagName("button");
        // no need to validate in 2 step
        if(form != null && validate(form))
        {
            form.submit();
            Array.from(form.elements).forEach(
                formElement => formElement.disabled = true
            );

            setCurrentButton(currentButton)

            Array.from(buttons).forEach(
                button => button.disabled = true
            );
        }

        return false;
    }

    function setCurrentButton(crrntBtn){
        const currentButtonCss = crrntBtn.getAttribute('class');
        const newButtonCss = currentButtonCss + ' rvt-button--loading';
        crrntBtn.setAttribute('class', newButtonCss);
        let newInnerHTML = '<span class="rvt-button__content">Update settings</span>';
        newInnerHTML += '<div class="rvt-loader rvt-loader--xs" aria-label="Content loading"></div>';
        crrntBtn.innerHTML = newInnerHTML;
    }

    function Disable(e){
        e.preventDefault();
        console.log(e.target);
        const currentButton = e.target;
        const buttons = document.getElementsByTagName("button");
        currentButton.form.submit();
        setCurrentButton(currentButton);

        for(let i = 0; i < buttons.length; i++){
            buttons[i].disabled = true;
        }
    }

    function validate(f){
        const textInputs = f.getElementsByTagName("input");
        const funcPrefix = "validate_";
        let result = true;
        for(let i = 0; i < textInputs.length; i++){
            let input = textInputs[i];
            let name = input.name;
            let func = funcPrefix + name;
            if(name != "next_step"){
                let fieldResult = window[func](input);
                result = result && fieldResult;
            }

        }

        let isUpdateSelected = validate_update_to_apply(f);
        result = result && isUpdateSelected;

        return result;
    }

    function validate_update_to_apply(f){
        const dropdown = f.getElementsByTagName('select')[0];
        const inlineAlert = dropdown.nextElementSibling;
        let hasContent = (dropdown.value.trim() != "");
        dropdown.style = hasContent ? "" : "background-color: #ffece5;";
        inlineAlert.style = hasContent ? "display: none;" : "display: flex;"

        return hasContent;
    }

    function validate_site_name(input){
        const hasContent = isInputEmpty(input);

        return hasContent;
    }

    function validate_api_key(input){
        const hasContent = isInputEmpty(input)
        const correctFormat = true;

        return hasContent && correctFormat;
    }

    function isInputEmpty(input){
        const label = input.previousElementSibling;
        const inlineAlert = input.nextElementSibling;
        const val = input.value.trim();
        const hasContent = val == "" ? false : true;
        input.style = hasContent ? "" : "background-color: #ffece5;";
        inlineAlert.style = hasContent ? "display: none;" : "display: flex;"

        return hasContent;
    }

    function dismissAlert(e){
        const inlineAlert = e.target.nextElementSibling;
        inlineAlert.style = "display: none;";
        e.target.style = "background-color: none;";
    }

    // image light box
    window.addEventListener('load', function(){
        const imageSelector = "div.with-light-box>img";
        const images = document.querySelectorAll(imageSelector);
        const body = document.body;
        for(let i = 0; i < images.length; i++){
            let image = images.item(i);
            let lightboxId = image.dataset.lightBox;
            let imagePath = image.src;
            let lightBox = document.createElement('div');
            lightBox.className = 'lightbox-target';
            lightBox.id = lightboxId;
            lightBox.innerHTML = '<img src="' + imagePath + '"/><a class="lightbox-close" href="#"></a>';
            body.append(lightBox);
            console.log(lightboxId);
            console.log(imagePath);
            image.addEventListener('click', function() {
                document.location.href = "#" + lightboxId;
            });
            document.getElementById(lightboxId).addEventListener('click', function(e) {
                document.location.href = "#";
            });
        }
    });

</script>
